# Development Environments
.idea/
.vscode/
__pycache__/
*.py~

# Python
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Configuration
.env
*.json
!agents/example.json
!agents/general.json
config.local.json

# Logs
*.log

# OS-specific
.DS_Store